:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent-color1: #264653; /* dark slate blue */
    --accent-color2: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color1);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    place-items: center;
}

header img {
    width: 150px;
    height: auto;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
}
nav a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color1);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent-color2);
    opacity: .86;
}

.hero article img {
    float: right;
    width: 165px;
    height: auto;
    margin-left: 10px;
}

#adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#adventures h2 {
    grid-column: 1 / -1;
    text-align: left;
    padding-bottom: 1rem;
}

#adventures img {
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav, footer div {
    flex: 1;
}

footer nav {
    display: flex;
    justify-content: right;
}

.socialmedia img {
    width: 50px;
    height: auto;
    padding: 5px;
}

#history {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: auto auto;
    align-items: center;
}

#history h2{
    grid-row: 1/2;
    grid-column: 1/2;
}

#history-paragraph-1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

#history-paragraph-2 {
    grid-row: 2/3;
    grid-column: 3/4;
}

#history img {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 200px;
    height: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.contact p {
    text-align: center;
}

#inquiry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#inquiry form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#inquiry fieldset {
    display: contents;
}

inquiry fieldset legend {
    grid-column: 1 / 2;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.column1 {
    grid-column: 1 / 2;
}
.column2 {
    grid-column: 2 / 3;
}

.both-columns {
    grid-column: 1 / 3;
}

input[type="checkbox"], input[type="radio"] {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

#employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--primary-color);
}

#employees h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 1rem;
}

#employees figure {
    margin: 0 auto;
    border: 1px solid var(--primary-color);
}