:root {
    --border: 2px solid rgb(0 0 0 / .4);
    --padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

main {
    max-width: 800px;
}

h1 {
    color: darkblue;
}

aside {
    width: 600px;
    background-color: white;
    color: rgb(39, 38, 38);
    position: relative;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 50px;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
}