:root {
    --border: 2px solid rgb(0 0 0 / .4);
    --padding: 1rem;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

main {
    max-width: 800px;
}

h1 {
    color: darkblue;
}

aside {
    width: 600px;
    margin: 10px;
    border: var(--border);
    padding: var(--padding);
    background-color: white;
    color: rgb(39, 38, 38)
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 1px;
    box-shadow: 0 0 30px gray;    
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    border-top: var(--border);
    text-align: center;
}