.callout {
    max-width: 450px;
    margin: 0px;
    border: 1px solid black;
    padding: 15px;
    background-color: darkslateblue;
    color: white;
}

.callout img {
	float: right;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
    width: 120px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted gray;
    padding-top: 10px;
    text-align: right;
    font-size: smaller;
}